<%= form_for([:manage, @product], remote: request.xhr?, html: {:class => "form-signin form_user", data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-label-group">
      <%= f.text_field :name, class: "form-control form-square", placeholder: "Name", "data-error" => "#errname" %>
      <%= f.label :name %>
    </div>
    <div class="form-label-group">
      <%= f.text_area :description, class: "form-control form-square", placeholder: "Description", "data-error" => "#errname" %>
      <%= f.label :description %>
    </div>

    <div class="d-flex">
      <div class="form-label-group mr-1">
        <%= f.number_field :price, min: 1000, class: "form-control form-square", placeholder: "Price(vnd)" %>
        <%= f.label :price, "Price(vnd)" %>
      </div>

      <div class="form-label-group ml-1">
          <%= f.number_field :quantity, min: 1, class: "form-control form-square", placeholder: "Quantity" %>
          <%= f.label :quantity %>
      </div>
    </div>

    <%= f.label :catalog %>
    <div class="form-group">
      <%= f.select :catalog_id, @catalogs, {selected: @catalogs.first},
        {class: "form-control form-square pl-3"} %>
    </div>

    <%= f.label :image, class: "d-flex" %>
    <span class="picture">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "choose-picture" %>
    </span>
    <div><%= image_tag @product.image.url(:thumb) if @product.image? %></div>
  </div>

  <div class="modal-footer">
    <%= f.submit yield(:button_text), class: "btn btn-outline-primary product-button" %>
  </div>
<% end %>
