<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark default-color" style="background: #094b66;">
  <a class="navbar-brand" href="#">
    <img src="https://laz-img-cdn.alicdn.com/images/ims-web/TB1f6tgdAfb_uJjSsD4XXaqiFXa.png" width="80">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t(".Home"), root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Manage
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <%= link_to "Products", manage_products_path, class: "dropdown-item" %>
            <%= link_to "Catalogs", manage_catalogs_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <%= full_name(current_user) %>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <%= link_to t(".edit"), edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="#" data-toggle="modal" data-target=".login-register-form" class="nav-link">
            Login/Register
          </a>
        </li>
        <div class="modal fade login-register-form" role="dialog">
          <div class="modal-dialog modal-nm">
            <div class="modal-content signup-in">
              <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a class="active tab-1" data-toggle="tab" href="#login-form"> Login <span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a class="tab-2" data-toggle="tab" href="#registration-form"> Register <span class="glyphicon glyphicon-pencil"></span></a></li>
                </ul>
                <div class="tab-content">
                  <%= render 'devise/sessions/new' %>
                  <%= render 'devise/registrations/new' %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<!-- Login / Register Modal-->
